---
import api from "@/helpers/api";
import PrivateLayout from "@/layouts/private.astro";
import SystemRevisionContent from "@/components/private/SystemRevision.svelte";

const id = Astro.params.id as string;
const system = await api({
  method: "GET",
  endpoint: "systemId",
  base: Astro.url.origin,
  headers: Astro.request.headers,
  substitutions: { systemId: id },
});

const sus = (
  await api({
    endpoint: "typesType",
    base: Astro.url.origin,
    headers: Astro.request.headers,
    substitutions: { typesType: "sus" },
  })
);

const task = (
  await api({
    endpoint: "typesType",
    base: Astro.url.origin,
    headers: Astro.request.headers,
    substitutions: { typesType: "tasks" },
  })
);
---

<PrivateLayout class="flex-1 flex flex-col items-center">
  <div class="flex w-full justify-between items-center px-8 py-4">
    <div class="text-sm breadcrumbs w-full text-left">
      <ul>
        <li><a href="/clients">Clients</a></li>
        <li>
          <a href={`/clients/${system.client.id}`}>{system.client.name}</a>
        </li>
        <li class="font-semibold">{system.title}</li>
      </ul>
    </div>
    <!-- <a class="btn btn-sm btn-outline" href={`/systems/summary/${system.id}`}
      >Client Readout</a
    > -->
  </div>

  <div class="p-4 flex w-full">
    <SystemRevisionContent active={system.revisions[0].id} {system} {sus} {task} client:load />
  </div>
</PrivateLayout>
