---
import api from "@/helpers/api";
import PrivateLayout from "@/layouts/private.astro";
import SystemRevisionNav from "@/components/private/SystemRevisionNav.svelte";
import SystemRevisionContent from "@/components/private/SystemRevision.svelte";

const id = Astro.params.id as string;
const system = await api({
  method: "GET",
  endpoint: "systemId",
  base: Astro.url.origin,
  headers: Astro.request.headers,
  substitutions: { systemId: id },
});
---

<PrivateLayout class="flex-1 flex flex-col items-center">
  <div class="text-sm breadcrumbs w-full text-left px-8 py-4 mb-4">
    <ul>
      <li><a href="/clients">Clients</a></li>
      <li><a href={`/clients/${system.client.id}`}>{system.client.name}</a></li>
      <li class="font-semibold">{system.title}</li>
    </ul>
  </div>
  <div class="p-4 flex w-full">
    <SystemRevisionNav {system} client:load vertical class="flex-none" />
    {
      system.revisions.map((revision) => (
        <SystemRevisionContent {revision} client:load />
      ))
    }
  </div>
</PrivateLayout>
