---
import api from "@/helpers/api";
import PrivateLayout from "@/layouts/private.astro";
import TasklistCreate from "@/components/private/TasklistCreate.svelte";

const id = Astro.params.id as string;

const revision = await api({
  method: "GET",
  endpoint: "revisionId",
  base: Astro.url.origin,
  headers: Astro.request.headers,
  substitutions: { revisionId: id },
});

const task = (
  await api({
    endpoint: "typesType",
    base: Astro.url.origin,
    headers: Astro.request.headers,
    substitutions: { typesType: "tasks" },
  })
);
---

<PrivateLayout class="flex-1 flex flex-col items-center">
  <div class="text-sm breadcrumbs w-full text-left px-8 py-4 mb-4">
    <ul>
      <li><a href="/clients">Clients</a></li>
      <li>
        <a href={`/clients/${revision.system.client.id}`}
          >{revision.system.client.name}</a
        >
      </li>
      <li>
        <a href={`/systems/${revision.system.id}`}>{revision.system.title}</a>
      </li>
      <li>
        <a href={`/systems/${revision.system.id}#${id}`}>{revision.title}</a>
      </li>
      <li class="font-semibold">User Test Task List</li>
    </ul>
  </div>
  <TasklistCreate {task} {revision} client:only="svelte" />
</PrivateLayout>
